<section id="contact" class="between">
    <div class="container">
        <h2 class="text-center text-uppercase">@Localizer["contact us"]</h2>
        <p class="text-center w-75 m-auto">@Localizer["contact us_M"]</p>
        <div class="row text-center between">
            <div class="col-md-6 text-center">
                <h2>@Localizer["CALL US"]</h2>
                <img class="rounded-circle" src="~/img/phone.png" alt="Call us image" width="140" height="140">
                <p class="font-weight-bold mt-5 h3">+34 xxx xxx xxx</p>
            </div>
            <div class="col-md-6 text-center">
                <h2>EMAIL</h2>
                <img class="rounded-circle" src="~/img/email.png" alt="Email image" width="140" height="140">
                <p class="font-weight-bold mt-5 h3">info@dream-pool.site</p>
            </div>
        </div>
    </div>
</section>