body {
    background-color: rgb(234,232,220);
}

.brand {
    font-size: 25px;
    color: rgb(23,162,184) !important;
}

.text-black{
    color:black;
}

.maincontainer {
    max-width: 1200px;
    margin: 0 auto;
}

.between{
    margin-top:100px;
}

#contact .card:hover i, #contact .card:hover h4 {
    color: #87d37c;
}

@media (max-width:900px) {
    #need-hide {
        display: none;
    }
}
